.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Horizontal variation */
.cards > ul > li.cards-card-horizontal {
  display: grid;
  grid-template-columns: 140px 1fr;
}

.cards > ul > li.cards-card-horizontal .cards-card-image img {
  aspect-ratio: 1 / 1;
  height: 100%;
}

@media (width >= 900px) {
  .cards > ul > li.cards-card-horizontal {
    grid-template-columns: 200px 1fr;
  }
}
