/* AT&T Aleck Sans - Custom font family */

/* AT&T uses a proprietary font (attAleckSans). We use the closest available system/web alternative. */

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('attAleckSans-Light'), local('ATT Aleck Sans Light'), local('Helvetica Neue Light'), local('Helvetica Neue');
  size-adjust: 100%;
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('attAleckSans-Regular'), local('ATT Aleck Sans'), local('Helvetica Neue'), local('Helvetica');
  size-adjust: 100%;
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('attAleckSans-Medium'), local('ATT Aleck Sans Medium'), local('Helvetica Neue Medium'), local('Helvetica Neue');
  size-adjust: 100%;
}

@font-face {
  font-family: 'ATT Aleck Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('attAleckSans-Bold'), local('ATT Aleck Sans Bold'), local('Helvetica Neue Bold'), local('Helvetica');
  size-adjust: 100%;
}
